version: 2.1
orbs:
  node: circleci/node@12.1
jobs:
  build-and-test:
    executor:
      name: node/default
    docker:
          - image: circleci/node:12-browsers
            environment:
                CHROME_BIN: "/usr/bin/google-chrome"
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
workflows:
    build-and-test:
      jobs:
        - build-and-test