<p>{{title}}</p>
<div class="container active-sidemenu" id="container">
    <header class="header" id="header">
        <div class="logo-container">
            <button id="button-menu" class="button-menu"><i class="fas fa-bars"></i></button>
            <a class="logo" href="index.html">Rowly</a>
        </div>
        <div class="search-container">
            <input type="text" name="search" id="search" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <div class="header-buttons">
            <button id="search-button"><i class="fas fa-search"></i></button>
            <button><i class="fas fa-upload"></i></button>
            <button><i class="fas fa-bell"></i></button>
            <div class="avatar"><img src="resources/images/perfil.jpg"></div>
        </div>
    </header>
</div>